{% extends '_layout.html' %} 
{% load widget_tweaks %} 
{% load static %} 
{% block title %} Food {% endblock title %} 
{% block content %}
<section>
  <form method="POST" class="new-form" id="form-container" enctype="multipart/form-data">
		{% csrf_token %}
    
      {{ food_formset.management_form }}
      {% for form in food_formset %}
      <div class='box' id="food-form" style="background-color: hsl(219, 70%, 96%);">
      {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}

          <div class"table-container">
            <table class="table is-narrow" style="background-color: hsl(219, 70%, 96%);padding:5rem;">
              <tbody>
                <tr>
                  <td>{{form.mealDate.label}}</td>
                  <td>{{form.mealDate}}</td>
                  <td>{{form.meal.label}}</td>
                  <td>{{form.meal|attr:"class:select is-small"}}</td>
                  <td>{{form.food.label}}</td>
                  <td>{{form.food|attr:"class:select is-small"}}</td>
                  <td>{{form.serving.label}}</td>
                  <td>{{form.serving|attr:"class:input is-small"}}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      {% endfor %}
        <div class="control" id="control">
          <button type="submit" class="button is-link">Save</button>
          <button class="button is-primary is-light" id="add-form" type="button">Add Another</button>
        </div>
   
  </form>
</section>


<script>
    let foodForm = document.querySelectorAll("#food-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let buttonControl = document.querySelector("#control")
    let totalForms = document.getElementsByName("form-TOTAL_FORMS")

    let formNum = foodForm.length-1
    // addButton.addEventListener('click', addForm)
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()
        let newForm = foodForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, buttonControl)
        totalForms[0].setAttribute('value', `${formNum+1}`)
        //totalForms.value = formNum+1;
        console.log(totalForms)
    }
</script>

{% endblock content %}