{% extends '_layout.html' %} 
{% load widget_tweaks %} 
{% load static %} 
{% block title %} Food {% endblock title %} 
{% block content %}
<section>
  <form method="POST" class="new-form" id="new-form" enctype="multipart/form-data">
		{% csrf_token %}
    <div class="content">
      {{ food.management_form }}
      {% for form in food %}
      {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
      {{ form.as_table }}
      {% endfor %}
        <div class="control">
          <button type="submit" class="button is-link">Save</button>
        </div>
    </div>
  </form>
</section>
{% endblock content %}