{% extends '_layout.html' %} 
{% load widget_tweaks %} 
{% load static %} 
{% block title %} Food {% endblock title %} 
{% block content %}
<section>
  <form method="POST" class="new-form" id="form-container" enctype="multipart/form-data">
		{% csrf_token %}
    <div class="content">
      {{ food_formset.management_form }}
      {{ food_formset.errors }}
      {% for form in food_formset %}
      {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
      {{ form.as_p }}
      {% endfor %}
        <div class="control">
          <button type="submit" class="button is-link">Save</button>
        </div>
    </div>
  </form>
</section>
{% endblock content %}