{% extends '_layout.html' %} 
{% load widget_tweaks %} 
{% load static %} 
{% block title %} Create Food {% endblock title %} 
{% block content %}

<div class="section">
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="card">
        <form method="POST" class="new-form" id="new-form" enctype="multipart/form-data">
              {% csrf_token %}
              {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
              {% for errors in form.errors %}
              {{errors}}
              {% endfor%}
          <header class="card-header">
            <p class="card-header-title">
                <label for="name" class="form-label" style="padding-right: 10px">Name</label>
                {{ form.name|add_class:"input is-small"|attr:"id:brandName"}}
            </p>
          </header>
          <div class="card-content">
            <div class="field">
              <div class="control">
                  <input class="input" type="text" id="foodSearch" placeholder="Barcode">
              </div>
              <div class="control">
                <button type="button" class="button is-primary is-light" onclick='fetchFood().then(placeFood)'>Search</button>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Nutrition Facts</th>
                  <th>Per serving</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Fat (g)</th>
                  <td>{{ form.fats|add_class:"input is-small"|attr:"id:tableFats"|attr:"onchange:combinedCalories()" }}</td>
                </tr>
                  <tr style="background-color: azure;">
                  <th>-Saturated fat (g)</th>
                  <td>{{ form.sat_fats|add_class:"input is-small"|attr:"id:tableSatFats"|attr:"" }}</td>
                </tr>
                <tr>
                  <th>Carbohydrates (g)</th>
                  <td>{{ form.carbohydrate|add_class:"input is-small"|attr:"id:tableCarbs"|attr:"onchange:combinedCalories()" }}</td>
                </tr>
                <tr style="background-color: azure;">
                  <th>- Sugars (g)</th>
                  <td>{{ form.sugars|add_class:"input is-small"|attr:"id:tableSugars"|attr:"" }}</td>
                </tr>
                  <tr>
                  <th>Protein (g)</th>
                  <td>{{ form.protein|add_class:"input is-small"|attr:"id:tableProtein"|attr:"onchange:combinedCalories()" }}</td>
                </tr>
                <tr>
                  <th>Salt (mg)</th>
                  <td>{{ form.salt|add_class:"input is-small"|attr:"id:tableSalt"|attr:"" }}</td>
                </tr>
                <tr>
                  <th>Serving Size (grams/ml)</th>
                  <td >{{ form.serving_size|add_class:"input is-small"|attr:"id:serving_size" }}</td>
                </tr>
                <tr>
                  <th>Calories (kcal)</th>
                  <td >{{ form.calories|add_class:"input is-small"|attr:"id:calories" }}</td>
                </tr>
              </tbody>
            </table>
            <div class="columns">
              <div class="column is-half is-offset-one-quarter">
                <canvas id="ratioChart" width="250" height="250"></canvas>
                {{ form.fat_ratio|attr:"id:fatRatio"|attr:"readonly"|attr:"type:hidden" }}
                {{ form.carb_ratio|attr:"id:carbRatio"|attr:"readonly"|attr:"type:hidden" }}
                {{ form.protein_ratio|attr:"id:proteinRatio"|attr:"readonly"|attr:"type:hidden" }}
              </div>
            </div>
            <footer class="card-footer">
              <div class="field is-grouped" style="padding-top: 10px">
                <div class="control">
                  <button type="submit" class="button is-link">Save</button>
                </div>
                <div class="control" >
                  <button type="button" class="button is-primary is-light" onclick='combinedCalories()'>Update</button>
                </div>
                <div class="control">
                  <a class="button is-link is-light" href="{%url 'food:home' user.pk %}">Cancel</a>
                </div>
              </div>
            </footer>
            </div>
        </form>
      </div>
    </div>
 </div>
</div>




{{ data|json_script:"favData" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script type="text/javascript">
  const fav_data = JSON.parse(document.getElementById('favData').textContent); 
  console.log(fav_data);
</script>
<script>
  let l=0;
  l= fav_data.length;
  let i=0;
  let select=document.getElementById("select");
  for(i=0;i<l;i++)
  {
  var opt = document.createElement('option');
  opt.value = fav_data[i].name;
  opt.innerHTML = fav_data[i].name;
  select.appendChild(opt);
  }
</script>
<script src="{% static 'js/calories.js' %}"></script>
<script src="{% static 'js/fetchFood.js' %}"></script>
<!-- <script src="{% static 'js/chartData.js' %}"></script> -->
{% endblock content %}