{% extends '_layout.html'  %}
{% block title %} Food List {% endblock title %}
{% load static %}
{% block content %}
    <div>
        <a type='button'class='button is-secondary is-small' href="{% url 'fooddb:create' %}">Create Food</a>
    </div>

<div class="content">
  <div class="columnns is-multiline is-mobile">
    <div class="column">
    		{% if all_foods %}
        <div class="table-container">
            <div class="level">
              <div class="level-left">
                <input type="text" id="foodInput" onkeyup="filterFood()" placeholder="Search for names..">
              </div>
            </div>
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth table-sort" id="foodTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Fat</th>
                <th>Sat Fat</th>
                <th>Fat %</th>
                <th>Carb</th>
                <th>Sugars</th>
                <th>Carb %</th>
                <th>Protein</th>
                <th>Protein %</th>
                <th>Salts</th>
                <th>Serving Size</th>
                <th>Calories</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody> 
              {% for f in all_foods %} 
              <tr>
              <td>{{f.name}}</td>
              <td>{{f.fats}}</td>
              <td>{{f.sat_fats}}</td>
              <td>{{f.fat_ratio}}</td>
              <td>{{f.carbohydrate}}</td>
              <td>{{f.sugars}}</td>
              <td>{{f.carb_ratio}}</td>
              <td>{{f.protein}}</td>
              <td>{{f.protein_ratio}}</td>
              <td>{{f.salt}}</td>
              <td>{{f.serving_size}}</td>
              <td>{{f.calories}}</td>
              <td><a class="button is-primary is-light" href="">Edit</a></td>
              <td><a class="button is-danger is-light" href="">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% else %}
        <div class="column">
          <p>Please add food the food index.</p>
        </div>
        {% endif %}
</div>

<script src="{% static 'js/table-filter.js' %}"></script>
<script src="{% static 'js/table-sort.js' %}"></script>
{% endblock content %}